.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include respond(tablet-portrait){
    grid-template-columns: repeat(1,1fr);
    width: 80%;
    margin-left: 10%;
  }

}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @include respond(tablet-portrait) {
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin-left: 10%;
  }

  @include respond(phone) {
    grid-template-columns: repeat(1,1fr);
    width: 80%;
    margin-left: 10%;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  @include respond(tablet-portrait){
    grid-template-columns: repeat(2,1fr);
    gap: 3rem
  }
  @include respond(phone) {
    grid-template-columns: repeat(1,1fr);
  }
}
